appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
beautifulsoup4==4.9.1
bs4==0.0.1
buildozer==1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
django-allauth==0.22.0
django-bootstrap-modal-forms==1.5.0
django-crispy-forms==1.9.1
django-widget-tweaks==1.4.8
ecdsa==0.15
filelock==3.0.12
google==2.0.3
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
pexpect==4.8.0
Pillow==7.1.2
ptyprocess==0.6.0
pyasn1==0.4.8
pycparser==2.20
PyJWT==1.7.1
pylint==2.4.4
python-jose==3.1.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
sh==1.12.14
six==1.15.0
social-auth-app-django==3.4.0
social-auth-core==3.3.3
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.18
wincertstore==0.2
wrapt==1.11.2
